---
import { getEntry, render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

const slug = Astro.params.slug;
const post = slug ? await getEntry('blog', slug) : undefined;

if (!post) {
	Astro.response.status = 404;
}

const renderedPost = post ? await render(post) : undefined;
---

{post && renderedPost ? (
	<BlogPost {...post.data}>
		<renderedPost.Content />
	</BlogPost>
) : (
	<p>Post not found.</p>
)}
